[Unit]
Description=Hostname based Reverse Proxy
Documentation=https://github.com/mwat56/reprox/
After=network.target

[Service]
Type=simple
User=root
Group=root
WorkingDirectory=/tmp
ExecStart=/opt/bin/reprox-linux-amd64
Restart=on-failure
RestartSec=1s

[Install]
WantedBy=multi-user.target
Alias=reprox-server.service
